/* --blue: hsl(238, 40%, 52%);
  --red: hsl(358, 79%, 66%);
  --grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%); 
  --dark-blue: hsl(212, 24%, 26%);
  --gray-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
} */

.userReplyContainer {
  padding: 20px;
  background-color: var(--white);
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  margin-bottom: 20px;
  height: 200px;
}

.replyArea {
  outline: none;
  width: 100%;
  height: 105px;
  resize: none;
  display: block;
  margin-bottom: 15px;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  padding: 10px 15px;
}

.replyArea:focus {
  border-color: var(--blue);
}

.avatar {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 40px;
  height: auto;
}

.sendBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
}

.sendBtn:hover {
  background-color: var(--grayish-blue);
}

@media screen and (min-width: 1440px) {
  .userReplyContainer {
    display: flex;
    justify-content: space-between;
    height: auto;
  }

  .avatar {
    position: relative;
    left: auto;
    bottom: auto;
  }

  .replyArea {
    margin: 0 20px;
  }

  .sendBtn {
    position: relative;
    bottom: auto;
    right: auto;
  }
}